<div id="<%= dom_id blog_book %>">
  <p>
    <strong>Title:</strong>
    <%= blog_book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= blog_book.author %>
  </p>

  <p>
    <strong>Ratting:</strong>
    <%= blog_book.ratting %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= blog_book.description %>
  </p>

</div>
