<%= form_with(model: blog_book) do |form| %>
  <% if blog_book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog_book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% blog_book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :author, style: "display: block" %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :ratting, style: "display: block" %>
    <%= form.text_field :ratting %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit "Create Book" %>
  </div>
<% end %>
